@model AzureBlobDemo.Models.CreateItemVM
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav style="--cui-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Blob" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add New</li>
    </ol>
</nav>

<form asp-controller="Blob" asp-action="Add" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title" autocomplete="off">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description" autocomplete="off">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Image</label>
        <input class="form-control" asp-for="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" value="Add" class="btn btn-primary">Submit</button>
</form>

