@model AzureBlobDemo.Models.CreateItemVM
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav style="--cui-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Blob" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add New</li>
    </ol>
</nav>
<div class="mb-3">
    <label class="form-label">Title <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="txtTitle" autocomplete="off">
    <span class="text-danger validate">This field is required</span>
</div>
<div class="mb-3">
    <label class="form-label">Description <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="txtDescription" autocomplete="off">
    <span class="text-danger validate">This field is required</span>
</div>

<div class="mb-3">
    <label class="form-label">Image <span class="text-danger">*</span></label>
    <form asp-action="Add" id="frmDropzone" enctype="multipart/form-data" class="dropzone">
        <div class="dz-message" data-dz-message>
            <img src="~/images/upload-icon.jpg" style="height: 70px; width: 80px" />
            <p>Drop file here or click to upload</p>
        </div>
    </form>
    <span id="image-validate" class="text-danger validate">This field is required</span>
</div>
<button id="btn-submit" class="btn btn-primary">Submit</button>

@section Scripts {
    <script>
        let arrImages = [];
        let myDropzone = new Dropzone('.dropzone', {
            maxFilesize: 2,
            uploadMultiple: false,
            maxFiles: 1,
            acceptedFiles: 'image/jpeg, image/png',
            addRemoveLinks: true,
            dictRemoveFile: '<button class="btn btn-sm btn-outline-danger mt-2 btn-rm-file">Remove</button>',
        })


        //Remove existing file before add new file
        myDropzone.on('addedfile', file => {
            if (arrImages.length != 0) {
                arrImages = [];
                arrImages.push(file);
                $('.btn-rm-file').not(':last').trigger('click');
            }
            arrImages.push(file);
            $('#image-validate').removeClass('invalid').hide();
        })

        myDropzone.on('removedfile', file => {
            let i = arrImages.indexOf(file);
            arrImages.splice(i, 1);
        })

        $('#btn-submit').on('click', function (event) {
            event.preventDefault();
            let formData = new FormData();
            let title = $('#txtTitle').val().trim();
            let description = $('#txtDescription').val().trim();
            let isValid = false;
            $('input').each(function () {
                var input = $(this);
                var span = input.next('.validate');

                if (input.val().trim() === '') {
                    isValid = false;
                    span.addClass('invalid').show();
                } else {
                    span.removeClass('invalid').hide();
                    isValid = true;
                }
            });

            if (arrImages.length === 0) {
                $('#image-validate').addClass('invalid').show();
                isValid = false;
            } else {
                $('#image-validate').removeClass('invalid').hide();
                isValid = true;
            }

            if (isValid) {
                formData.append('Title', title);
                formData.append('Description', description);
                formData.append('Image', arrImages[0]);

                $.ajax({
                    url: '/Blob/Upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: (response) => {
                        $('.validate').hide();
                        myDropzone.removeAllFiles();
                        arrImages = [];
                        window.location.assign('/Blob/Index');
                    },
                    error: (xhr, status, error) => {
                        console.error('Error:', error);
                        alert('An error occurred while submitting the form.');
                    }
                });
            }
        });

    </script>
}
