@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex">
    <a class="btn btn-primary ms-auto" asp-controller="Blob" asp-action="Add">Add New</a>
</div>
<table id="tblItems" class="display" style="width:100%"></table>


@section Scripts {
    <script type="text/javascript">
        var table = $('#tblItems').DataTable({
            "ajax": {
                "url": "/Blob/LoadData",
                "type": "POST"
            },
            "serverSide": true,
            "responsive": true,
            "searchable": true,
            "order": [[1, 'asc']],
            "language": {
                "emptyTable": "No records found",
            },
            "columns": [
                {
                    "className": 'dt-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '',
                },
                {
                    "data": "id",
                    "title": 'ID',
                },
                {
                    "data": "title",
                    "title": "Title",
                },
                {
                    "data": "description",
                    "title": "Description",
                    "className": "text-wrap"
                },
                {
                    "data": "fileName",
                    "title": "File Name",
                },
                {
                    "data": "createdDate",
                    "title": "Created Date",
                    "className": "text-wrap"
                },
                {
                    "data": "id",
                    "title": "Action",
                    "responsivePriority": 1,
                    "searchable": true,
                    "orderable": false,
                    "render": (data, type, row) => 
                        `<a role="button" class="btn btn-sm btn-primary" href="/Blob/ViewDetail?id=${row.id}")">View</a>
                            <button class="btn btn-sm btn-success" onclick="downloadItem(${data}, '${row.fileName}')">Download</button>
                            <button class="btn btn-sm btn-danger" onclick="deleteItem(${data})">Delete</button>`
                },
            ],
        });

        function loadData() {
            table.ajax.reload();
        }

        function deleteItem(id) {
            $.ajax({
                url: `/Blob/Delete?id=${id}`,
                type: "DELETE",
                success: (result) => {
                    loadData();
                },
                error: (errormessage) => {
                    alert(errormessage.responseText);
                }
            })
        }

        function downloadItem(id, fileName) {
            $.ajax({
                url: `/Blob/Download?id=${id}`,
                type: "GET",
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data, status, xhr) {
                    var blob = new Blob([data], { type: 'application/octet-stream' });
                    var downloadUrl = URL.createObjectURL(blob);
                    var a = document.createElement('a');
                    a.href = downloadUrl;
                    a.download = fileName;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                },
                error: function () {
                    console.log("Failed to download file")
                }
            })
        }

        $(document).ready(function () {
            loadData();
        });
    </script>
}
